#ant specific
dist/
build/
 
#netbeans specific
client/core
client/nbproject/*
!client/nbproject/project.properties
!client/nbproject/project.xml
 
common/core
common/nbproject/*
!common/nbproject/project.properties
!common/nbproject/project.xml

server/core
server/nbproject/*
!server/nbproject/project.properties
!server/nbproject/project.xml

#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
Thumbs.db
/client/nbproject/private/
/common/nbproject/private/
/server/nbproject/private/
/maven-client/target/
/tmp/mludwig-entreri-86ccda81dbdd/target/